.header {
  position: fixed;
  padding: 20px 170px 20px 40px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transform: translateY(-100%);
  background-color: transparent;
  color: $color-default-white;
  transition: 1s ease-out;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__inner {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}
