.nav {
  display: flex;
  align-items: center;
  gap: 32px;

  &--footer {
    display: block;
    columns: 2;
    gap: 170px;

    .nav__item {
      display: flex;
      margin-bottom: 17px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: $color-default-white;
  }
}
